body {
  font-family: "Open Sans", sans-serif;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.description,
p,
ul,
ol {
  font-size: 20px;
}

.list {
  font-size: 18px;
}

ol {
  list-style-type: none;
}

img {
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  width: 550px;
  height: auto;
}

h1 {
  font-size: 40px;
  font-weight: 700px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}
strong {
  font-size: 24px;
}
